.container{
  display: flex;
}

.image{
    flex: 1;
    flex-basis: 400px;
    border:#926239 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    }

image{

}

.side{
  padding: 50px 20px;
  background-color: #926239;
  flex: 1;
  flex-basis: 200px;
  }

section{
margin: 10px;
padding-left: 25px;
}

  .button1{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .button2{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .button3{
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

small{
  font-size: 14px;
  color:#926239;
  }
