h1{
  padding: 0px 20px;
}

.container{
  display: flex;
}

image{
  flex: 2;
}

.side{
  padding: 50px 50px;
  background-color: #926239;
  flex: 1;
  font-size: 18px;
  }

section{
margin-top: 150px;
}

  .button1{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .button2{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .button3{
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
  }

small{
  font-size: 14px;
  color:#926239;
  }
